body,
td,
th {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 16px;
}

div.area1-btn-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

div.area1-btn-container > button.sec-btn {
  width: 100px;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  height: auto;
}

select#redTeamName {
  /* background-color: #a83025; */
  background-color: #ff0000;
  width: 200px;
  height: 120px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: white;
  font-family: tahoma, sans-serif;
}

select#redTeamName.small-font,
select#blueTeamName.small-font {
  font-size: 20px;
}

select#redTeamName.medium-font,
select#blueTeamName.medium-font {
  font-size: 30px;
}

option {
  font-size: 1.5rem;
}

select#blueTeamName {
  /* background-color: #264d7d; */
  background-color: #116fff;
  width: 200px;
  height: 120px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: white;
  font-family: tahoma, sans-serif;
}

button {
  border: none;
  padding: 10px 15px;
  font-family: tahoma, sans-serif;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  color: black;
  background-color: #f1c40f;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #f9e79f;
}

button:disabled {
  background-color: #b7950b;
  opacity: 0.5;
  /* background-color: transparent; */
}

td.area_title {
  text-align: center;
  background-color: white;
}

#main_table td {
  padding: 0.5rem;
}

div.area {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

div.overlay {
  width: 100%;
  height: 100%;
  background-color: lightgray;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.overlay > div.timer {
  font-size: 500px;
}

div.overlay button.exit-btn {
  font-size: 100px;
  background-color: transparent;
  border: 0.5rem solid gray;
  border-radius: 20px;
  color: gray;
  padding: 0 2rem;
}

div.overlay button.exit-btn:hover {
  border-color: black;
  color: black;
  cursor: pointer;
}

button.square-btn {
  height: 100px;
  width: 100px;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}

div.wrapper {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  background-color: #3e2723;
  border-radius: 10px;
  width: 100%;
  max-width: 1600px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 2rem;
}

div.wrapper > div {
  background-color: lightgray;
}

div.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eaeded;
  padding: 1rem;
}

div.btn-container {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #48c9b0;
  gap: 0.5rem;
}

div.btn-container > button {
  flex: 1 1 calc(50% - 0.5rem);
}

div.btn-container > button {
  /* margin-left: 0.5rem;
  margin-right: 0.5rem; */
  height: 50px;
  /* width: 70px; */
}

div.timer {
  font-size: 100px;
  font-weight: bold;
}

.area-mark {
  font-size: 75px;
  width: 90px;
}

.area3-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.area3-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.area3-wrapper > div > div.block {
  height: 50px;
  width: 50px;
  /* width: calc(50px * 1.618); */
  display: inline-block;
  margin-right: 1rem;
  background-color: white;
  border: black 1px solid;
  border-radius: 50%;
}

.area3-wrapper > div > button {
  height: 50px;
  width: 50px;
}

.area3-wrapper > div.selection {
  width: 100%;
}

.area3-wrapper > div.selection > button {
  width: 50%;
  margin: 0 0.5rem 0 0.5rem;
}

.reset-container {
  flex: 1 0 auto;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-container > button {
  height: 100px;
  width: calc(100px * 1.618);
}

.left-container {
  display: flex;
  flex-direction: column;
}

.popup {
  z-index: 999;
  top: 50%;
  left: 50%;
  height: 200px;
  width: calc(200px * 1.618);
  background-color: #f1c40f;
  margin-top: -100px;
  margin-left: calc(-200px * 1.618 / 2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 0.5rem solid #3e2723;
  display: none;
  color: white;
}

.flex-container {
  position: relative;
}
